

<div class="flexWrap flexGrow marginBtmMd">
    <app-config-dashboard class="flexWrap flexGrow"></app-config-dashboard>
</div>

<div class="flexWrap flexGrow marginBtmMd">
    <app-statistic-watcher class="flexWrap flexGrow"></app-statistic-watcher>
</div>


<div class="flexWrap flexGrow marginBtmMd">
    <app-canvas-viewer class="flexWrap flexGrow"></app-canvas-viewer>
</div>


<div class="flexWrap flexGrow marginBtmMd">
    <app-chart class="flexWrap flexGrow"></app-chart>
</div>


<mat-divider class="flexGrow marginBtmMd"></mat-divider>

<div (click)="debug()">■</div>