
<div class="flexWrap flexGrow alignCenter justifyCenter marginBtmMd">
    <div class="flexWrap flexGrow justifyCenter">
        <div class="flexGrow marginBtmMd"></div>
        <p class="flexNone mat-title">Covid transmission simulator</p>
        <div class="flexGrow"></div>
        <p class="flexNone mat-body-1">This is a lightweight simulator, shouldn't be used in real world study.</p>
        <div class="flexGrow"></div>
        <p class="flexNone mat-body-1">Use this for educational purpose. It can help the public to understand the covid transmission easier.</p>
        <div class="flexGrow marginBtmMd"></div>
        <mat-divider class="flexGrow"></mat-divider>
        <div class="flexGrow marginBtmMd"></div>
        <p class="flexNone mat-body-1">
            All the source code can be found in `<a target="_blank" class="bold">https://github.com/byanjiong/covid-simulator</a>`, you may help to enhance the code as well.
            <br />
            Created with LOVE by ❤ BOO, Yan Jiong ❤
        </p>


    </div>
</div>