


<mat-toolbar color="primary">
    <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button> -->

    <a mat-button routerLink="/">
        Covid-19 transmission simulator
        <!-- <img src="assets/images/logo/logo-rect.svg" style="height: 3em;" /> -->
    </a>

    <div class="flexAuto"></div>

    <button mat-button [routerLink]="['/about']" routerLinkActive="bold accent">About</button>

    <!-- <button mat-button type="button">
        <mat-icon>language</mat-icon>
    </button> -->

</mat-toolbar>

<div class="flexWrap flexGrow padBg">
    <router-outlet>
    </router-outlet>
</div>





